/_/

*~
\#*\#
.\#*
*.swp
*.bak

*.tgz
*.gz
*.xz
*.bz2
*.sig
*.asc
sum
src/
pkg/
*.new
*.old
*.diff
index.*
*.zip
*.release
release
*.el
*.elc
*.txt
*.sty
*-pkgbuild

/perl-file-tail/file-tail
/texlive-flashcards/flashcards

