/_/

*~
\#*\#
.\#*
*.swp
*.bak

*.gz
*.xz
*.bz2
*.sig
*.asc
sum
src/
pkg/
*.new
*.old
*.diff
index.*
*.zip

/emacs-find-recursive/find-recursive.txt
/latex-fitch/fitch.sty
/opencascade-docs/opencascade-pkgbuild
/perl-file-tail/file-tail
/texlive-flashcards/flashcards

